/*
This style sheet is used for the add page
*/
#feedback_image {
    max-height: 520px;
}

.alert {
    z-index: 9000;
    position: fixed;
    width: 50%;
	left: 25%;
    bottom: 50px;
    display: none;
}

.tooltip-inner {
    max-width: 400px;
    width: 400px;
    text-align: left;
}