/*
This style sheet is used for the index page
*/
#recently_added {
	width: 100%;
	overflow-x: scroll;
    white-space: nowrap;
}

#recently_added div {
    max-width : 400px;
    display: inline-block;
}

.recently_added_image {
    width: 200px;
    height: 115px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
