/*
This style sheet is used for every pages
*/
html, body {
	background-color: #FAFAFA;
	height: 100%;
	margin: 0;
}


h1 {
	font-size: 100px;
	font-weight: bold;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active   {
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, title-font {
	font-family: 'DTLProkyonST';
}

.cursor-pointer {
	cursor: pointer;
}

.content {
	min-height: calc(100vh - 75px);
  }
.footer {
	height: 30px;
}

.no-select {
    user-select: none;
}

@font-face {
	font-family: "DTLProkyonST";
	src: url("../fonts/DTLProkyonT.eot");
	src: url("../fonts/DTLProkyonT?#iefix") format("embedded-opentype"),
		url("../fonts/DTLProkyonT.woff2") format("woff2"),
		url("../fonts/DTLProkyonT.woff") format("woff"),
		url("../fonts/DTLProkyonT.ttf") format("truetype"),
		url("../fonts/DTLProkyonT.svg#DTLProkyonST") format("svg");
}

.hide-if-overflow {
	overflow:hidden;
}
