{% extends 'opensauceapp/base.html' %}
{% load static %}

{% block title %}
Add new sauce
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ressources/css/add.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'ressources/js/add.js' %}" charset="utf-8" defer></script>
{% endblock %}

{% block content %}
<div class="container content">
	{% include 'opensauceapp/title.html' %}
	<h3>Add a new sauce</h3>
	{% csrf_token %}
	<form>
		<ul class="nav nav-tabs justify-content-center">
			<li class="nav-item">
				<a id="image_menu" class="nav-link" href="#image">Image</a>
			</li>
			<li class="nav-item">
				<a id="quote_menu" class="nav-link" href="#quote">Quote</a>
			</li>
		</ul>
		<div>
			<div class="form-group">
				<label for="input_categories">Category</label>
				<select id="input_categories" class="custom-select form-control">
					<option selected></option>
					{% for sauce_category in sauce_categories %}
					<option value="{{sauce_category.id}}">
						{{sauce_category.name}}
					</option>
					{% endfor %}
				</select>
				<div class="invalid-feedback">
					Please select a category...
				</div>
			</div>
			<div class="image-only form-group">
				<label for="input_load_image">Image</label>
				<div class="custom-file">
					<input id="input_load_image" type="file" accept=".png, .jpeg, .jpg" class="custom-file-input">
					<label id="input_image_path" class="custom-file-label">Select a file</label>
					<div class="invalid-feedback">
						Please select an image...
					</div>
				</div>
				<div id="feedback_image_container" class="text-center p-3" hidden>
					<img id="feedback_image" class="img-fluid rounded">
				</div>
			</div>
			<div class="quote-only form-group" hidden>
				<label for="sauce_quote">Citation</label>
				<input id="input_quote" type="text" class="form-control">
				<div class="invalid-feedback">
					Please write your quote...
				</div>
			</div>
			<div class="form-group">
				<label for="sauce_answer">Answer</label>
				<input id="input_answer" type="text" class="form-control">
				<div class="invalid-feedback">
					Please add the answer...
				</div>
			</div>
			<div class="form-group">
				<label for="difficulty_easy">Difficulty</label>
				<ul id="input_difficulty" class="nav nav-pills nav-fill form-control font-weight-bold">
					<li class="nav-item">
						<a id="input_difficulty_easy" class="nav-link cursor-pointer">Easy</a>
					</li>
					<li class="nav-item">
						<a id="input_difficulty_medium" class="nav-link cursor-pointer">Medium</a>
					</li>
					<li class="nav-item">
						<a id="input_difficulty_hard" class="nav-link cursor-pointer">Hard</a>
					</li>
				</ul>
				<div class="invalid-feedback">
					Please choose a difficulty...
				</div>
				<small class="form-text text-muted">
					We categories in 3 diffrents difficulties :
					<ul>
						<li>Easy : Anybody who heard of it can answer</li>
						<li>Medium : The image or the quote is not famous, doesn't show any protagonistes (display names in case of a quote)</li>
						<li>Hard : Only a real fan can answer it, i.e : fan-art of antagonist, landscape without characters, unknown quote / scene</li>
					</ul>
					Keep in mind that the questions should always be related to popculture.
				</small>
			</div>
			<a href="{% url 'index' %}" role="button" class="btn btn-danger float-left">Cancel</a>
			<button id="send_button" class="btn btn-primary float-right">Submit</button>
		</div>
	</form>
</div>


	
{% include 'opensauceapp/footer.html' %}


{% endblock %}
