{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<title>OpenSauce - {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- bootstrap -->
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<!-- fontawesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<!-- jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- jquery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

	<!-- custom scripts -->
	<script src="{% static 'ressources/js/script.js' %}" charset="utf-8"></script>
	<script src="{% static 'ressources/js/tools.js' %}" charset="utf-8"></script>

	{% block scripts %}{% endblock %}

	<!-- custom stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'ressources/css/style.css' %}">
	{% block styles %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}
</body>
</html>
