{% load static %}

<div class="container">
    <div class="footer">
        <hr>
        <span class="float-left">
            <a role="button" href="https://github.com/HE-Arc/OpenSauce" class="btn btn-white text-dark"><i class="fab fa-github"></i></a>
            <a role="button" href="https://www.facebook.com/OpenSauceApp" class="btn btn-white text-dark"><i class="fab fa-facebook-f"></i></a>
            <a role="button" href="https://www.instagram.com/opensauceapp/" class="btn btn-white text-dark"><i class="fab fa-instagram"></i></a>
            <a role="button" href="https://discord.gg/zXFjYaz" class="btn btn-white text-dark"><i class="fab fa-discord"></i></a>
            <a role="button" href="https://twitter.com/OpenSauceApp" class="btn btn-white text-dark"><i class="fab fa-twitter"></i></a>
        </span>
        <span class="float-right">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="float-right">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="A7QDMRLC42M8W" />
                    <button type="input" class="btn btn-outline-dark btn-sm" target="_blank" href="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit"><i class="fab fa-paypal"></i> Donate to Devs.</button>
                </form>
            </form>
        </span>
    </div>
</div>