{% extends 'opensauceapp/base.html' %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="container">
	<center>
		<p class="opensaucetitle">OpenSauce</p>
	</center>
	<br>
	<div>
		<p class="h2 opensauce">Liste des salons publiques 
			<span style="float:right;">
			<a role="button" id="refreshLobbies" href="#" class="btn btn-dark">
				<!-- TODO Ajax to refresh lobbies list and not entire page-->
				<i class="fas fa-sync-alt"></i>
			</a>
			</span>
		</p>
		<br>
		<div id="noLobbies"hidden>
			<div class="alert alert-dark" role="alert">
					Aucun salon disponible !
			</div>
		</div>
		<div class="list-group" id="lobbiesList"></div>
	</div>
	<br>
	<div>
		<br>
		<p class="h2 opensauce">Création de salon</p>
		<br>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Nom du salon</span>
			</div>
			<input id="input_lobby_name" type="text" class="form-control">
			<div class="input-group-append">
				<a href="#" id="create_lobby_button" role="button" class="btn btn-dark"><span>Créer</span></a>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		let create_lobby_button = document.getElementById("create_lobby_button");
		create_lobby_button.disabled =  true;
		create_lobby_button.classList.remove('btn-dark');
		create_lobby_button.classList.add('btn-outline-dark', 'disabled');
		$('#input_lobby_name').keyup(function(event){
			if($(this).val().length !=0){
				create_lobby_button.disabled = false;
				create_lobby_button.classList.remove('btn-outline-dark', 'disabled');
				create_lobby_button.classList.add('btn-dark');
			}
			else
			{
				create_lobby_button.disabled = true;
				create_lobby_button.classList.remove('btn-dark');
				create_lobby_button.classList.add('btn-outline-dark', 'disabled');
			}
			console.log(create_lobby_button.disabled);
			if(event.keyCode == 13 && !create_lobby_button.disabled){
				console.log("go !");
				$("#create_lobby_button").find('span').trigger('click');
			}
		})
	});

	let lobbiesList = document.getElementById("lobbiesList");
	let refreshLobbies = document.getElementById("refreshLobbies");
	let noLobbies = document.getElementById("noLobbies");
	let create_lobby_button = document.getElementById("create_lobby_button");
	let input_lobby_name = document.getElementById("input_lobby_name");

	refreshLobbies.addEventListener("click", updateLobbiesList);
	input_lobby_name.addEventListener("change", updateLinkToLobby);

	updateLobbiesList();

	function updateLinkToLobby(e) {

		create_lobby_button.href = "lobby/" + e.srcElement.value;
	}

	function updateLobbiesList() {
		fetch("{% url 'lobbies_list' %}")
			.then(function(response) {
				return response.json();
			})
			.then(function(json) {
				lobbiesList.innerHTML = "";
				if (json.list.length <= 0) {
					noLobbies.hidden = false;
				} else {
					for (let i = 0; i < json.list.length; i++) {
						let lobby = json.list[i];
						let lobbyLink = document.createElement("a");
						lobbyLink.href = "lobby/" + lobby["name"];
						lobbyLink.type = "button";
						lobbyLink.classList. add("list-group-item", "list-group-item-action");
						lobbyLink.innerHTML += "<h4>" + lobby["players"] + " <i class=\"fas fa-running\"></i>" + " " + lobby["spectators"] + " <i class=\"fas fa-eye\"></i>" + " | " + lobby["name"] + "</h4>";
						lobbiesList.appendChild(lobbyLink);
					}
					noLobbies.hidden = true;
				}
			});
	}
</script>
{% endblock %}
