{% extends "opensauceapp/base.html" %}
{% block title %}Lobby {% endblock %}

{% block content %}
<style>
#game {
}
#scoreBoard {

}
</style>

<div id="game">

</div>
<div id="scoreBoard-container">
    <ul id="scoreBoard">
    </ul>
</div>
<input id="joinButton" type="button" value="Rejoindre">
<input id="pseudoField" type="text" placeholder="Pseudo">
<input id="leaveButton" type="button" value="Quitter" hidden>
<input id="submitAnswer" type="text" hidden>

<script>
	let lobbyName = {{lobby_name_json}};
	let lobbySocket = new WebSocket("ws://" + window.location.host + "/ws/lobby/" + lobbyName + "/");

	let scoreBoard = document.getElementById("scoreBoard");

	let submitAnswer = document.getElementById("submitAnswer");
	let joinButton = document.getElementById("joinButton");
	let leaveButton = document.getElementById("leaveButton");

	joinButton.addEventListener("click", join);
	leaveButton.addEventListener("click", leave);

	lobbySocket.onmessage = function(e) {
		let data = JSON.parse(e.data);
        console.log(data);
        if(data.type == "game_state")
        {
            updateScoreBoard(data.state);
        }
	};

	lobbySocket.onclose = function(e) {
		console.error("Lobby socket closed unexpectedly");
	};

	submitAnswer.focus();
	submitAnswer.addEventListener("keydown", function(e) {
        let message = e.srcElement.value;
		if (e.keyCode === 13 && message.length > 0) {
			sendAnswer(message);
            e.srcElement.value = "";
		}
	});

	function sendAnswer(answer) {
		lobbySocket.send(JSON.stringify({
			"type": "submit",
			"answer": answer,
		}));
	}

	function join() {
		updateUiControls(true);
		lobbySocket.send(JSON.stringify({
			"type": "join",
			"pseudo": pseudoField.value
		}));
	}

	function leave() {
		updateUiControls(false);
        lobbySocket.send(JSON.stringify({
			"type": "leave"
		}));
	}

	function updateUiControls(isPlaying) {
        pseudoField.hidden = isPlaying;
		joinButton.hidden = isPlaying;
		leaveButton.hidden = !isPlaying;
        submitAnswer.hidden = !isPlaying;
	}

    function updateScoreBoard(data) {
        scoreBoard.innerHTML = '';
        for(let i = 0; i < data["players"].length; i++)
        {
            let player = data["players"][i];
            let playerLi = document.createElement("li");
            console.log(player);
            playerLi.innerHTML = player["name"];
            playerLi.innerHTML += " : ";
            playerLi.innerHTML += player.score;
            scoreBoard.appendChild(playerLi)
        }
    }
</script>
{% endblock %}
