{% extends 'opensauceapp/base.html' %}
{% block title %}
Administration Page
{% endblock %}

{% load static %}

{% block content %}
<style>
  .left-flexitems
  {
    order: 0;
    width: 75%;
    margin-right: 20px;
  }

  .right-flexitems
  {
    order: 1;
    width: 25%;
    margin-left: 20px;
  }

  #question_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  }
</style>

<div class="container">
  <center>
    <p class="opensaucetitle">
      OpenSauce
    </p>
  </center>
  <hr>
  <div>
    <div class="d-flex">
      <p class="h2 opensauce">Liste des signalements</p>
      <a class="ml-auto" href="{% url 'logout' %}">Se déconnecter</a>
    </div>

    {% for report in sauce_reports %}
      <div class="card">
        <div class="card-header">
          Signalement #{{ report.id }}
        </div>
        <div class="card-body">
          <div class="card-text">
            {% if report.sauce.media_type == QUOTE %}
              <p>Question : {{ report.sauce.question }}</p>
            {% else %}
              <p>Image : </p>
              <div id="question_image" class="w-100 h-100" style="background-image: {{ report.sauce.question}}"></div>
            <p>Réponse : {{ report.sauce.answer }}</p>
            {% endif %}
          </div>
          <a href="#" class="btn btn-primary">Ignorer</a>
          <a href="#" class="btn btn-primary">Supprimer</a>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
