<div id="modal_password" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Join lobby : {{ lobby_name }}</h5>
        </div>
        <div class="modal-body">
            <label class="w-100">Password :
            <input id="modal_password_input" type="password" class="form-control text-center" placeholder=''>
            <div class="invalid-feedback">
                Bad password !
            </div>
            </label>
        </div>
        <div class="modal-footer">
            <button id="modal_join_button" type="button" class="btn btn-primary">Join</button>
        </div>
    </div>
  </div>
</div>
